@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #131313
}

body {
  color: #101010;
  background: #f1f1f1;
  font-family: "Source Code Pro", serif;
}

.dark body {
  @apply bg-[#131313] text-white
}

@layer components {
  .gradient-bar {
    border-image: linear-gradient(90deg,#5246FF, #7B00FF) 1;
  }

  .loader {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
    position: relative;
  }

  .words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      #f1f1f1 0%,
      transparent 20%,
      transparent 80%,
      #f1f1f1 100%
    );
    z-index: 20;
  }

  .dark .words::after {
    background: linear-gradient(
      var(--bg-color) 0%,
      transparent 20%,
      transparent 80%,
      var(--bg-color) 100%
    );
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    animation: spin_4991 6s infinite;
  }
  
  @keyframes spin_4991 {
    0%, 10% {
      transform: translateY(0);
    }
  
    12% {
      transform: translateY(-2%);
    }
  
    25%, 35% {
      transform: translateY(-100%);
    }
  
    37% {
      transform: translateY(-102%);
    }
  
    50%, 60% {
      transform: translateY(-200%);
    }
  
    62% {
      transform: translateY(-202%);
    }
  
    75%, 85% {
      transform: translateY(-300%);
    }
  
    87% {
      transform: translateY(-302%);
    }
  
    100% {
      transform: translateY(0);
    }
  } 
  
  .button-landing {
    position: relative;
    padding: 10px 30px;
    background-color: #f1f1f1;
    border-radius: 12px;
    display: inline-block;
    z-index: 1;
  }

  .dark .button-landing {
    background-color: var(--bg-color);
  }

  .button-landing::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 12px;
      padding: 3px;
      background: linear-gradient(90deg, #5246FF, #7B00FF);
      mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
      -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      z-index: -1;
  }
}

